<h2>Asset: {{name}}<h2>
<h2>Previous Date: {{asset_past_date}}<h2>
<h2>Previous Price: {{asset_past_price}}<h2>
<h2>Current Date: {{asset_current_date}}<h2>
<h2>Current Price: {{asset_current_price}}<h2>
<h2>Winner: {{bet_winner}}</h2> 